body {
    margin-bottom: 140px;
    background-image: url(Images/woodWood.jpg);

}

.main-content {
    margin-top: 70px;
}

.navbar-fixed-bottom{
	.container {
		.navbar-text {
			color: black;
		}
	}
}