body {
   	//margin-bottom: 50px;
    background-image: url(Images/woodWood.jpg);

}

.main-content {
    margin-top: 70px;
}

.navbar-fixed-bottom{
	.container {
		.navbar-text {
			color: black;
		}
	}
}

.footer {
	margin-bottom: 0px;

	.container{
		margin-bottom: 0px;
	}
}

#productCarousel {
	margin-bottom: 15px;
}
